body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}
/* Navbar */
nav {
    display: flex;
    background-color: #00a2c6;
    justify-content: space-around;
    height: 64px;
    align-items: center;
    position: sticky;
    box-shadow: 0 2px 4px -2px rgba(0,0,0,.2);
}

nav a {
    cursor: pointer;
}

nav a img {
    width: 48px;
    height: 48px;   
}

nav a span {
    display: inline;
    padding-left: 5px;
    font-size: 1em;
    font-weight: bold;
}

nav ul {
    padding-top: 20px;
    display: flex;
    list-style: none;
    width: 30%;
    justify-content: space-between;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 1em;
}

nav ul li .btn {
    margin-top: -3px;
    border-radius: 50px;
}

nav ul li a:hover {
    color: white;
    text-decoration: none;
}

nav ul li .btn:hover {
    color: #00a2c6;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: white;
}

/* Hamburger Menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -5px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #ffffff;
    border-radius: 3px;
    transition: all 0.5s;
}

/* Hamburger Menu Animation*/
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0)6
}

/* Responsive Breakpoint */

/* Tablet View */
@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }
}

/* Mobile View */
@media screen and (max-width: 576px) {
    .menu-toggle {
        display: flex;
    }
    nav ul {
       position: absolute;
       top: 0;
       right: 0;
       height: 100vh;
       width: 50%;
       justify-content: space-evenly;
       flex-direction: column;
       align-items: center;
       background-color: #00a2c6;
       z-index: -1;
       transform: translateX(100%);
       transition: all 1s;
       opacity: 0;
    }

    nav ul.slide {
        opacity: 1;
        transform: translateX(0);
    }
}