* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat';
}

body {
    background: #e7f1ff;
    font-size: 14px;
    letter-spacing: 1px;
}

.wrapper{
    display: flex;
    width: 100%;
}

.sidebar{
    position: relative;
}

.sidebar .bg_shadow{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.site_nav {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: #00a2c6;
    z-index: 2;
    transition: all 0.3s ease;
}

.main_container {
    margin-left: 250px;
    width: calc(100% - 250px);
    transition: all 0.3s ease;
}

.site_nav .profile_info {
    padding: 20px;
    text-align: center;
}

.site_nav .profile_info .profile_img {
    width: 125px;
    margin: 0 auto 5px;
}

.site_nav .profile_info .profile_img img {
    border-radius: 50%;
    width: 100%;
    display: block;
}

.site_nav .profile_info .profile_data .name {
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-top: 12px;
    margin-bottom: 5px;
}

.site_nav .siderbar_menu{
    height: 490px;
    overflow: auto;
}

.site_nav .siderbar_menu > li > a {
    padding: 12px 20px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 1px;
    color: white;
}

.site_nav .siderbar_menu > li > a .icon {
    font-size: 25px;
    margin-right: 15px;
}

.site_nav .siderbar_menu > li.active > a ,
.site_nav .siderbar_menu > li > a:hover{   
    text-decoration: none;
    border-right: 3px solid white;
    font-weight: bold;
}

.sidebar .copyright span{
    font-size: 11px;
    position: absolute;
    bottom: 5px;
    left: 30px;
    width: 190px;
    color: white;
    padding: 10px;
    text-align: center;
}

.site_nav .close{
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 25px;
    color: white !important;
    cursor: pointer;
    display: none;
}

.site_nav .close:hover,
nav .hamburger:hover{
  text-decoration: none;
  opacity: 0.7;
}

nav{
  background: #fff;
  height: 50px;
  width: 100%;
  box-shadow: 0 3px 5px rgba(0,0,0,0.125);
  display: flex;
  align-items: center;
  padding: 0 20px;
}

nav .hamburger{
  font-size: 25px;
  cursor: pointer;
  margin-right: 20px;
  color: #00a2c6;
  display: none;
}

nav .logo a{ 
  text-decoration: none;
  color: #00a2c6;
  font-size: 24px;
  font-weight: bold;
}

.content{
  padding: 30px 50px;
}

.content .item{
  background: #fff;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.125), -2px -2px 4px rgba(0,0,0,0.125);
  margin: 10px 5px;
  padding: 20px;
}

label {
  font-weight: bold;
}

.btn {
  width: 10em;
}

@media (max-width: 1024px) {
  .site_nav{
    left: -115%;
    transition: all 0.5s ease;
  }

  .main_container{
    width: 100%;
    margin-left: 0;
  }

  .content .item{
    width: 100%;
  }

  nav .hamburger, .site_nav .close{
    display: block;
  }

  .wrapper.active .site_nav{
    left: 0;
    transition: all 0.5s ease;
  }

  .wrapper.active .sidebar .bg_shadow{
    visibility: visible;
    opacity: 0.7;
  }
}

@media (max-width: 528px) {
  .content .item{
    width: 100%;
  }
}